<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">

    </head>

    <body>

        <h1>Welcome to About Page of {{title}}</h1>
        <img src="/img/anim.jpg">
        <h2>Created by {{name}}</h1>
    </body>
</html>