<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>

        <h1>Welcome to {{title}} page</h1>
        <p>Help msg: {{msg}}</p>

    </body>
</html>